.blogpost-container {
}

.post-header {
}

.image-edit {
}

.publication-date {
  font-size: 1.25rem;
}

.content-section {
  padding-left: 2%;
  padding-right: 2%;
  text-align: left;
  font-size: 1.25rem;
}

.boarders {
  border-style: solid; /* You can also use 'dashed', 'dotted', 'double', etc. */
  border-width: 5px;
  border-color: navy; /* Replace this with your desired color */
  background-color: white;
  margin-top: 2%;
  border-radius: 2%;
}
