.about-header {
  text-align: center;
}
.about-container {
  .about-section {
    font-size: 1.25rem;
  }

  .pic-section {
    img {
      border-radius: 5%;
      max-width: 750px;
      border-style: solid; /* You can also use 'dashed', 'dotted', 'double', etc. */
      border-width: 10px;
      border-color: navy; /* Replace this with your desired color */
    }
  }
}

@media (min-width: 576px) {
  .about-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-height: 850px;
    .about-section {
      grid-column-start: 2;
      grid-column-end: 3;
    }
    .pic-section {
      grid-column-start: 1;
      grid-column-end: 2;
    }
  }
}
