.home-header {
  justify-content: center;
  text-align: center;
}

img {
  width: 100%;
  border-radius: 2%;
}

.content-container {
  padding-left: 2%;
  padding-right: 2%;
  font-size: 1.25rem;
}

.indent {
  text-indent: 30px;
}
