.dir-container {
  width: 100%;
  background-color: lightblue;
  display: flex;
  flex-direction: column;

  .dir-links-container {
    display: flex;
    justify-content: space-between;
    .dir-link {
      text-decoration: none;
      font-size: 1.5rem;
    }
  }
}
