.dir-container {
  height: 100px;
  width: 100%;
  background-color: grey;
  display: flex;
  flex-direction: column;

  .dir-links-container {
    display: flex;
    justify-content: space-between;
    .dir-link {
      text-decoration: none;
      font-size: 2rem;
    }
  }
}
